@{
    ViewBag.Title = "Home Page";
    
}
<style>
    #HomePageBody {

        
        background-image: url('../../Content/CodeSpiderFinal.png');
        background-size: cover;
        /*background-position: center;*/
        background-repeat: no-repeat;
        margin: auto;
    }
    .jumbotron {
        padding-top: 150px;
        background: transparent;
        color:fuchsia;
    }
    h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .row{
        padding-top:500px;
        color:fuchsia;
    }
    
</style>
<body id="HomePageBody">
<div class="jumbotron">
    <h1>BugHub</h1>
    <p class="lead">Keep track of any and all bugs with the new bug tracker BUGHUB!</p>
    <p><a href="https://asp.net" class="btn-outline-dark btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bugs</h2>
        <p>
            Find all Bug Tickets here.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create A Bug Ticket &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>Find all Development Projects here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">List of Projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Access to all Employees.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">List of Employees &raquo;</a></p>
    </div>
</div>
</body>